body {
    background-color: rgb(210, 245, 250);
    margin: 0;
    padding: 0;
    text-align: center;
}
#main {
    background-color: lavenderblush;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.nav h1 {
    font-size: 24px;
    color: black;
}
#div-1 {
    background-color: lavenderblush;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}